@font-face {
  font-family: 'Big Shoulders Inline Text';
  src: local('Big Shoulders Inline Text'), url(./fonts/BigShouldersInlineText-SemiBold.ttf) format('');
}

.App{
  font-family: 'Big Shoulders Inline Text'
}

/* save this in case refactor for font is needed */

/* @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Text:wght@600&display=swap'); */